<div class="navbar">
    <ul>
        <li><a href="/inmuebles">Inmuebles</a></li>
        <li><a href="/formulario">Formulario de carga</a></li>
        <li><a href="/zonas">Zonas</a></li>
    </ul>
</div>